{% extends 'pages/base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Admin Home</h2>
        <h5 style="width: 75%">Welcome to your Admin Home Page. Here you can see all the visitors on your campus
            that checked in using our QR Code system and if they are still on site. </h5>
    </div>

    <div class="col-lg-6 col-md-6">


        <h4>Table Key</h4>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr class="success">
                    <td>Left Campus</td>
                </tr>
                <tr class="danger">
                    <td>Still On Campus</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h4>Current Visitors on Site</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Arrival Time</th>
                    <th>Departure Time</th>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                    <td>1</td>
                    <td>Dwight</td>
                    <td>Eisenhower</td>
                    <td>8:31</td>
                    <td>9:31</td>
                </tr>
                <tr class="success">
                    <td>2</td>
                    <td>Jack</td>
                    <td>Kennedy</td>
                    <td>9:21</td>
                    <td>10:31</td>
                </tr>
                <tr class="success">
                    <td>3</td>
                    <td>Barack</td>
                    <td>Obama</td>
                    <td>11:05</td>
                    <td>12:31</td>
                </tr>
                <tr class="danger">
                    <td>4</td>
                    <td>George</td>
                    <td>Washington</td>
                    <td>12:00</td>
                    <td></td>
                </tr>
                <tr class="danger">
                    <td>5</td>
                    <td>Gerald</td>
                    <td>Ford</td>
                    <td>16:05</td>
                    <td></td>
                </tr>
                <tr class="danger">
                    <td>6</td>
                    <td>John</td>
                    <td>Adams</td>
                    <td>18:35</td>
                    <td></td>
                </tr>
                <tr class="danger">
                    <td>7</td>
                    <td>Teddy</td>
                    <td>Roosevelt</td>
                    <td>19:05</td>
                    <td></td>
                </tr>
                <tr class="danger">
                    <td>8</td>
                    <td>Herbert</td>
                    <td>Hoover</td>
                    <td>21:05</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </div>
</div>
<!-- /. ROW  -->
{% endblock %}
