{% extends 'pages/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Property Manager</h2>
        <h5>Welcome to the Property Manager. Here you can set the bounds for your property that will
            keep track of visitors.</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- GOOGLE MAPS-->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOU1l9qakJv1NeidyU-bboBcGH1VLVgYw&libraries=drawing&callback=initMap"
                type="text/javascript"></script>
        <!-- GOOGLE MAPS INIT-->

        <!-- MAP  -->
        <div id="map" style="height: 500px; width: auto;"></div>
        <script>
            // This example requires the Drawing library. Include the libraries=drawing
            // parameter when you first load the API. For example:
            // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">

            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 33.777, lng: -84.397},
                    zoom: 15
                });

                var drawingManager = new google.maps.drawing.DrawingManager({
                    drawingMode: google.maps.drawing.OverlayType.MARKER,
                    drawingControl: true,
                    drawingControlOptions: {
                        position: google.maps.ControlPosition.TOP_CENTER,
                        drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
                    },
                    markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
                    circleOptions: {
                        fillColor: '#039EC8',
                        fillOpacity: .5,
                        strokeWeight: 1,
                        clickable: true,
                        editable: true,
                        zIndex: 1
                    }
                });
                drawingManager.setMap(map);
            }
        </script>
    </div>
</div>

{% endblock %}